<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
  <ul>
    <li> <a href="/pizzas">Pizza Orders</a></li>
    <li> <a href="/pizzas/new">New Pizza order</a></li>
  </ul>
  </nav>


  <%= yield %>
</body>
</html>